<!DOCTYPE html>
<html lang="en">
<title>Final project</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {font-family: "Lato", sans-serif}
.mySlides {display: none}
</style>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-black w3-card">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="" class="w3-bar-item w3-button w3-padding-large">About</a>
    <a href= "/methoddddd" target= "_blank" class="w3-bar-item w3-button w3-padding-large w3-hide-small">The Issue</a>
    <a href="/methodology" target="_blank" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Methodology</a>
<!-- solution -->
    <div class="w3-dropdown-hover w3-hide-small">
      <button class="w3-padding-large w3-button" title="More">Solution<i class="fa fa-caret-down"></i></button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href="https://github.com/haymanlisa/thebenjamins/blob/master/Trained_2011%20-%20KNN.ipynb" target= "_blank" class="w3-bar-item w3-button">2011-KNN</a>
        <a href="https://github.com/haymanlisa/thebenjamins/blob/master/testLRM2011.ipynb" target="_blank" class="w3-bar-item w3-button">2011-LRM</a>
        <a href="https://github.com/haymanlisa/thebenjamins/blob/master/Trained_2011%20-%20Linear.ipynb" target="_blank" class="w3-bar-item w3-button">2011-Linear</a>
        <a href="https://github.com/haymanlisa/thebenjamins/blob/master/testRM2007-11.ipynb" target="_blank" class="w3-bar-item w3-button">2007 to 2011-RM</a>
        <a href="/send" target= "_blank" class="w3-bar-item w3-button">Predictor</a>

        <a href="/plots" target="_blank" class="w3-bar-item w3-button">plots</a>
      </div>
    </div>
    <a href="javascript:void(0)" class="w3-padding-large w3-hover-red w3-hide-small w3-right"><i class="fa fa-search"></i></a>
  </div>
</div>

<!-- Navbar on small screens (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->
<div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
  <a href="#band" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()"></a>
  <a href="#tour" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()"></a>
  <a href="#contact" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()"></a>
  <a href="#" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()"></a>
</div>

<!-- Page content -->
<div class="w3-content" style="max-width:2000px;margin-top:46px">

  <!-- Automatic  Images -->
  <div class="mySlides w3-display-container w3-center">
    <img src="static/loan.png"w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
      <h3>The Future of Lending: Using Machine Learning to Create Superior Risk-Adjusted Reward</h3>
      <p><b></b></p>
    </div>
  </div>
  <div class="mySlides w3-display-container w3-center">
    <img src="static/Young.png" style="width:57%">
    <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
      <h3></h3>
      <p><b>The Future of Lending: Using Machine Learning to Create Superior Risk-Adjusted Reward</b></p>
    </div>
  </div>
  <div class="mySlides w3-display-container w3-center">
    <img src="static/money2.gif" style="width:57%">
    <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
      <h3></h3>
      <p><b>The Future of Lending: Using Machine Learning to Create Superior Risk-Adjusted Reward</b></p>
    </div>
  </div>

  <!-- TheSection -->
  <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
    <h2 class="w3-wide">Why did we pick this subject?</h2>
    <p class="w3-opacity"><i></i></p>
    <p class="w3-justify">The Set-upThe team has decided to take over the world of consumer lending. Personal loans are a $290bn industry and are disrupting the $4 trillion credit card industry. The proliferation of companies such as Lending Club and Prosper helped to supercharge growth of this industry.</p>
    <div class="w3-row w3-padding-32">
      <div class="w3-third">
        <img src="static/set.png" class="w3-round w3-margin-bottom" alt="Random Name" style="width:300%">
      </div>
    </div>
  </div>

  <!-- The Section -->
  <div class="w3-black" id="tour">
    <div class="w3-container w3-content w3-padding-64" style="max-width:800px">
      <h2 class="w3-wide w3-center"></h2>
      <p class="w3-opacity w3-center"><i></i></p><br>

  <!-- The members Section -->
  <div class="w3-container w3-content w3-padding-64" style="max-width:800px" id="contact">
    <h2 class="w3-wide w3-center">Members</h2>
    <p class="w3-opacity w3-center"> Ziyaad Ahmed - Brian Barragan - Lisa Hayman - Coralie Gnikobou - Kenneth Lee </i></p>
    <div class="w3-row w3-padding-32">
      <div class="w3-col m6 w3-large w3-margin-bottom">
      </div>
    </div>
  </div>

<!-- End Page Content -->
</div>

<script>


// Automatic Slideshow - change image every 4 seconds
var myIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("mySlides");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}
  x[myIndex-1].style.display = "block";
  setTimeout(carousel, 4000);
}

// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}

// When the user clicks anywhere outside of the modal, close it
var modal = document.getElementById('ticketModal');
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>

</body>
</html>
