<!DOCTYPE html>
<html lang="en">
<title>issue</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {font-family: "Lato", sans-serif}
.mySlides {display: none}
</style>
<body>

  <div class="w3-black" id="tour">
    <div class="w3-container w3-content w3-padding-64" style="max-width:800px">
      <h2 class="w3-wide w3-center">What is wrong with the Current Lending Industry?</h2>
      <p class="w3 w3-center"><i> </i></p><br>

      <ul class="w3-ul w3-border w3-white w3-text-grey">
        <li class="w3-padding">The Future of Lending: Using Machine Learning to Create Superior Risk-Adjusted RewardThe Set-upThe team has decided to take over the world of consumer lending. Personal loans are a $290bn industry and are disrupting the $4 trillion credit card industry. The proliferation of companies such as Lending Club and Prosper helped to supercharge growth of this industry. The Problem is that the current credit market hasn’t evolved since the 1800’s.  <span class="w3-tag w3-red w3-margin-left"></span></li>
        <li class="w3-padding"> Loans are accepted, rejected and priced mostly by people. Almost like insurance, when someone applies for loans from banks or credit cards, there are a handful of metrics used to gauge the risk of the consumer. As an example, if your FICO score is under 650, most banks will reject your application, regardless of the cause of the low FICO score or your assets. <span class="w3-tag w3-red w3-margin-left"></span></li>
        <li class="w3-padding"> The lack of personalization implies there should be significant inefficiencies in the market. It also implies that customers are grouped together, likely resulting in several subgroups of customers overpaying and subsidizing several other subgroups.The Benjamins decided that we were tired of working for other people and would like to grab a slice of this industry. We thought that by using common sense financial metrics, we could create a machine learning model that could provide a better prediction and personalized interest rate, depending on personalized information. <span class="w3-badge w3-right w3-margin-right">3</span></li>
      </ul>
     <p><b></b></p>
     <p><b></b></p>

        </div>
        <div >
          <img align="middle" src="images/fico1.png"  style="width:100%" >
        </div>


          </div>
