
<!DOCTYPE html>
<html>
<title>Problem</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1,h5 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
background-image: url('static/cat.png');
min-height: 100%;
background-position: center;
background-size: cover;
}
</style>
<body>

<div class="bgimg w3-display-container w3-text-white">
<div class="w3-display-middle w3-jumbo">
<p>What is wrong with the Current Lending Industry?</p>
</div>
<div class="w3-display-topleft w3-container w3-xlarge">
<p><button onclick="document.getElementById('menu').style.display='block'" class="w3-button w3-black">The problem</button></p>
<p><button onclick="document.getElementById('contact').style.display='block'" class="w3-button w3-black"> Game Plan</button></p>
</div>
<div class="w3-display-bottomleft w3-container">
<p class="w3-xlarge"></p>
<p class="w3-large"></p>

</div>
</div>

<!-- Modal -->
<div id="menu" class="w3-modal">
<div class="w3-modal-content w3-animate-zoom">
<div class="w3-container w3-black w3-display-container">
  <span onclick="document.getElementById('menu').style.display='none'" class="w3-button w3-display-topright w3-large">x</span>
  <h1></h1>
</div>
<div class="w3-container">



  <h5>
    <img src="static/fico1.png" height="300px" width="500px">
    <h5></h5>
    The current credit market hasn’t evolved since the 1800’s. Loans are accepted, rejected and priced mostly by people. Almost like insurance, when someone applies for loans from banks or credit cards, there are a handful of metrics used to gauge the risk of the consumer. As an example, if your FICO score is under 650, most banks will reject your application, regardless of the cause of the low FICO score or your assets. The lack of personalization implies there should be significant inefficiencies in the market. It also implies that customers are grouped together, likely resulting in several subgroups of customers overpaying and subsidizing several other subgroups. <b></b></h5>



</div>
</div>
</div>


<div id="contact" class="w3-modal">
<div class="w3-modal-content w3-animate-zoom">
<div class="w3-container w3-black">
  <span onclick="document.getElementById('contact').style.display='none'" class="w3-button w3-display-topright w3-large">x</span>
  <h1>how do we try to solve it?</h1>
</div>
<div class="w3-container">
  <p>The Benjamins decided that we were tired of working for other people and would like to grab a slice of this industry. We thought that by using common sense financial metrics, we could create a machine learning model that could provide a better prediction and personalized interest rate, depending on personalized information.</p>
  <form action="/action_page.php" target="_blank">

  </form>
</div>
</div>
</div>

</body>
</html>
