<!DOCTYPE html>
<html>
<title>Plots</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>
  <h2><p>The Benjamins now have a functioning website that allows individuals to put in theirdata and come up with a personalized interest rate. Customizing provides the best rate for individuals, while providing investors with the highest rate for dollars. This provides a win/win for both borrowers and lenders and allows us to compete with big banks.</h2></p>



<div class="w3-row w3-container" style="margin:50px 0">
<div class="w3-half w3-container">
  <div class="w3-topbar w3-border-amber">
    <img src="static/KNN.png" style="width:100%">
    <h2></h2>
    <h3>We iterated through several different ML models. As an example, we used the KN Model and discovered it had an accuracy of only 20%. Thinking through it, we concluded that a linear relationship probably exists between all these variables and the interest rate as the variables capture some variant of risk and the interest rate captures reward.</h3>
    <p></p>
  </div>
</div>

<div class="w3-half w3-container">
  <div class="w3-topbar w3-border-amber">
    <img src="static/2011-linear.png" style="width:100%">
    <h3>We tested this using Lending Club’s Grading system. Its grades reflect riskiness of the loans and when plotted against interest rates we discovered a clear linear relationship. As such, we chose ran with a linear regression model.</h3>
    <h2></h2>
    <h2></h2>
    <p></p>
  </div>
</div>
</div>

</div>


</div>
</div>

</body>
</html>
